{{ define "layout" }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .main-container {
    flex: 1;
  }
</style>
<body class="d-flex flex-column">
  <header class="bg-black text-white text-center py-3">
    <h1>{{ .Title }}</h1>
  </header>

  <div class="container main-container d-flex justify-content-center align-items-center">
    {{ block "content" . }}{{ end }}
  </div>

  <footer class="bg-dark text-white text-center py-3">
    
  </footer>

  <script src="/static/js/rungame.js"></script>
</body>

</html>
{{ end }}