{{ define "content" }}
    <section class="container py-5">
        <p class="text-center">
            <a href="/walkers" class="btn btn-success btn-lg">Volver</a>
        </p>
        <h2 class="display-4 fw-bold py-3 text-center">Escoge</h2>
        <div class="container bg-gradient flex justify-content-center">
            <button type="button" class="btn btn-outline-primary">Piedra</button>
            <button type="button" class="btn btn-outline-primary">Papel</button>
            <button type="button" class="btn btn-outline-primary">Tijrea</button>
        </div>
    </section>
{{ end }}
